.status-bar-background2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.time2 {
  margin-left: -0.063rem;
  flex: 1;
  position: relative;
  line-height: 1.25rem;
  font-weight: 500;
}
.time-style2 {
  height: 1.25rem;
  width: 3.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.cellular-connection-icon2,
.wifi-icon2 {
  height: 0.669rem;
  width: 1.063rem;
  position: relative;
  z-index: 1;
}
.wifi-icon2 {
  height: 0.688rem;
  width: 0.956rem;
}
.border2,
.cap-icon2 {
  position: absolute;
  mix-blend-mode: normal;
}
.border2 {
  top: 0;
  right: 0.144rem;
  border-radius: 2.67px;
  border: 1px solid var(--neutral-100);
  box-sizing: border-box;
  width: 1.375rem;
  height: 0.706rem;
  opacity: 0.35;
}
.cap-icon2 {
  top: 0.231rem;
  right: 0;
  width: 0.081rem;
  height: 0.25rem;
}
.capacity2 {
  position: absolute;
  top: 0.125rem;
  right: 0.269rem;
  border-radius: 1.33px;
  background-color: var(--neutral-100);
  width: 1.125rem;
  height: 0.456rem;
  z-index: 1;
}
.battery2 {
  height: 0.706rem;
  width: 1.519rem;
  position: relative;
  z-index: 1;
}
.connection1,
.status-bar-right1 {
  display: flex;
  align-items: flex-start;
}
.connection1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.status-bar-right1 {
  width: 4.163rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-4);
  box-sizing: border-box;
}
.iphone-xstatus-barsstatus-ba2,
.other2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.iphone-xstatus-barsstatus-ba2 {
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mini) var(--padding-xs)
    var(--padding-2xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
}
.other2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--body-medium-semi-bold-size);
  color: var(--neutral-100);
  font-family: var(--body-medium-semi-bold);
}
.login-to-your,
.please-sign-in {
  align-self: stretch;
  position: relative;
}
.login-to-your {
  margin: 0;
  font-size: inherit;
  line-height: 2.5rem;
  font-weight: 600;
  font-family: inherit;
}
.please-sign-in {
  font-size: var(--body-medium-semi-bold-size);
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--neutral-60);
}
.login-form,
.login-title,
.other-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.login-title {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.login-form,
.other-parent {
  align-self: stretch;
}
.login-form {
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-h4-semi-bold-size);
  color: var(--neutral-100);
  font-family: var(--body-medium-semi-bold);
}
.other-parent {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.bottom-bar-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-indicator {
  height: 0.313rem;
  width: 8.375rem;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--neutral-100);
  z-index: 1;
}
.login-filled,
.other3 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.other3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xl) var(--padding-xl) var(--padding-5xs);
}
.login-filled {
  width: 100%;
  background-color: var(--neutral-10);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6.312rem;
  line-height: normal;
  letter-spacing: normal;
}
